<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koko.dao.UserStorefrontMapper">
  <resultMap id="BaseResultMap" type="com.koko.pojo.UserStorefront">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="storefront_id" jdbcType="INTEGER" property="storefrontId" />
  </resultMap>
  <insert id="insert" parameterType="com.koko.pojo.UserStorefront">
    insert into user_storefront (user_id, storefront_id)
    values (#{userId,jdbcType=INTEGER}, #{storefrontId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.koko.pojo.UserStorefront">
    insert into user_storefront
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="storefrontId != null">
        storefront_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storefrontId != null">
        #{storefrontId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.koko.pojo.UserStorefront">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="storefront_id" jdbcType="INTEGER" property="storefrontId" />
  </resultMap>
  <insert id="insert" parameterType="com.koko.pojo.UserStorefront">
    insert into user_storefront (user_id, storefront_id)
    values (#{userId,jdbcType=INTEGER}, #{storefrontId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.koko.pojo.UserStorefront">
    insert into user_storefront
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="storefrontId != null">
        storefront_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storefrontId != null">
        #{storefrontId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.koko.pojo.UserStorefront">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="storefront_id" jdbcType="INTEGER" property="storefrontId" />
  </resultMap>
  <insert id="insert" parameterType="com.koko.pojo.UserStorefront">
    insert into user_storefront (user_id, storefront_id)
    values (#{userId,jdbcType=INTEGER}, #{storefrontId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.koko.pojo.UserStorefront">
    insert into user_storefront
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="storefrontId != null">
        storefront_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storefrontId != null">
        #{storefrontId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>